body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
}

form {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

form > * {
    margin: 0.5rem;
}

input,button {
    height: 2rem;
    margin: 1%;
}
nav {
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgb(233, 23, 23);
padding: 0.5rem;
}

nav a {
    color: aliceblue;
}

nav a.selected {
    font-size: 1.5rem;
}